@import '../../styles/teaching-bars';

.teaching-arrows.teaching-right-bar {
    flex-direction: column;

    & > div {
        width: 1.2rem;
        height: 1.5rem;
        margin-bottom: 1px;
    }
}
