@import '../../styles/colors';

.sudoku {
    * {
        font-size: 1rem;
        line-height: 1.5;
    }

    background-color: $color-gray;
    padding: 2px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
}
