@import '../../styles/colors';

.cell {
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    background-color: $color-light;

    &:hover {
        background-color: $color-light-hover;
        cursor: pointer;
    }
}
