@import '../../styles/colors';

%cell-highlight {
    background-color: $color-light-hover;
}

.cell {
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    background-color: $color-light;

    &.annotations {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .annotation {
            width: 0.5rem;
            height: 0.5rem;
            font-size: 0.3rem;
            line-height: 1.7;
            color: $color-dark-gray;

            b {
                font-size: inherit;
            }
        }
    }

    &.edit {
        color: $color-edit;
    }

    &.wrong {
        color: $color-wrong;
    }

    &.highlighted {
        background-color: $color-light-highlight;
    }

    &.selected {
        background-color: $color-cell-selected;
    }

    &.same-number {
        @extend %cell-highlight;
    }

    &:hover {
        @extend %cell-highlight;
        cursor: pointer;
    }
}
