@import '../../styles/colors';

#info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-size: 0.6rem;
    color: $color-dark;

    & > div {
        width: 4.5rem;
        text-align: center;
    }

    :first-child {
        text-align: left;
    }

    :last-child {
        text-align: right;
    }
}
