@import '../../styles/colors';

.teaching-arrows {
    display: flex;
    justify-content: center;

    & > div {
        width: 1.5rem;
        height: 1.2rem;
        text-align: center;
        margin-right: 1px;

        & > i {
            cursor: pointer;
            color: $color-wrong;
        }
    }
}
