$color-light: #f4f4f4;
$color-light-hover: #d4d4d4;
$color-light-highlight: #e4e4e4;
$color-dark: #333;
$color-light-gray: #ccc;
$color-gray: #999;
$color-dark-gray: #666;
$color-edit: #1446a8;
$color-cell-selected: #d1dffa;
$color-wrong: #c9384d;
