// Temporary
// * {
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 1rem;
//     line-height: 1.5;
// }

.container-center {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
