@import '../../styles/colors';

#settings {
    width: auto;
    height: auto;
    border: $color-dark-gray 1px solid;
    border-radius: 0.2rem;
    text-align: left;
    padding: 0.4rem 0.4rem 0.6rem 0.6rem;
    margin: 0 2rem;

    @media only screen and (max-width: 600px) {
        margin: 0 1rem;
    }

    .MuiFormControlLabel-root
        > .MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1,
    label {
        font-size: 0.5rem;
        display: inline-block;
        width: auto;
        padding-right: 0.1rem;

        @media only screen and (max-width: 600px) {
            font-size: 0.6rem;
        }
    }

    input[name='max-errors'] {
        display: inline-block;
        width: 1.3rem;
        height: 0.7rem;
        font-size: 0.5rem;
        padding: 0.17rem;
        border: $color-dark 1px solid;
        border-radius: 0.1rem;

        @media only screen and (max-width: 600px) {
            height: 0.9rem;
            font-size: 0.6rem;
            padding: 0.2rem;
        }
    }
}
