@import '../../styles/colors';

#settings {
    position: absolute;
    top: 1.2rem;
    right: 0;
    border: $color-dark 1px solid;
    background-color: white;
    padding: 0.4rem;
    z-index: 2;

    @media only screen and (max-width: 600px) {
        top: 3.5rem;
        right: 1.3rem;
    }

    .MuiFormControlLabel-root
        > .MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1,
    label {
        font-size: 0.5rem;
        display: inline-block;
        width: auto;
        padding-right: 0.2rem;
    }

    input[name='max-errors'] {
        display: inline-block;
        width: 1.3rem;
        height: 0.7rem;
        font-size: 0.5rem;
        padding: 0.17rem;
        border: $color-dark 1px solid;
        border-radius: 0.1rem;
    }

    button {
        width: fit-content;
        padding: 0.17rem 0.3rem;
        margin-top: 0.5rem;
        border: $color-dark 1px solid;
        border-radius: 0.15rem;
        cursor: pointer;
    }
}
